@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-width-half {
    width: 100%;
}

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
    @apply bg-green
}

@media (min-width: 768px) {
    .custom-width-half {
        width: calc(50% - 1.7rem)
    }
}

.container {
    max-width: 100%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}